body{
    margin: 0;
}
.outerDiv {
    height: 100vh;
    width: 100%;
    margin: 0px auto;
}
.leftDiv {
    background: url(../img/bg-auth.png);
    background-repeat: no-repeat;
    opacity: 0.8;
    color: #000;
    height: 100vh;
    width: 45%;
    float: left;
    margin: auto;
    text-align: center;
    line-height: 100vh;
}
.rightDiv {
    background-color: #2675BD;
    color: #000;
    height: 100vh;
    width: 55%;
    float: right;
    text-align: center;
    /* line-height: 100vh; */
}
.bg-auth{
    width: 100%;
    height: 100%;
}

.company-logo {
    /* background: #3A6F9A; */
    opacity: none;
    vertical-align: middle;
    max-height: 100vh;
    width: 260px;
} 
.main{
    vertical-align: middle;
    max-height: 100vh;
}
.margin-0{
    margin: 0;
}
.text-white{
    color: white;
}

.vertical-center {
    width: 55%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .formAuth{
    margin-top: 30px;
    padding: 0 150px;
  }

  .form-group{
    text-align: left;
  }

  .form-title{
    color: white;
  }

  .form-control{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 6px;
  }

  .mt-form{
    margin-top: 20px;
  }

  .btnAuth{
    margin-top: 30px;
    background-color: #4FA7F8;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 100px;
    border: 1px solid #4FA7F8;
    cursor: pointer;
  }


  .infoAuth{
    color: white;
  }
  .linkAuth{
    margin-top: 50px;
    text-decoration: underline;
    color: white;
    font-weight: bold;
  }